[Unit]
Description=QAA-TMS Agent
After=network-online.target

[Service]
Type=simple
Environment=QAA_TMS_HOME=__QAA_TMS_HOME__
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
